
<div *ngFor="let post of posts">
  <div class="row mt-4 mb-4" >

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="{{post.image}}" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
      <!-- Excerpt -->
      <p>{{post.content.substring(0,300)}}...</p>
      <!-- Post data -->
      <p>by <a><strong>{{post.author}}</strong></a>, {{post.date}}</p>
      <!-- Read more button -->
      <a type="button" mdbBtn color="secondary" mdbWavesEffect [routerLink]="['/post']" [queryParams]="{id: post.id }">Read more</a>

    </div>
    <!-- Grid column -->

  </div>
</div>
